@define-color text #fbf1c7;
@define-color hl #fbf1c7;
@define-color bg #282524;
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    margin: 0px;
    padding: 0;
}

window#waybar {
    background: @bg;
}
#basic,
#system,
#worksp {
    background: transparent;
    margin: 5px 0px;
}
#workspaces button {
    color: @text;
    margin: 0px 5px;
}
#workspaces button.active {
    font-weight: 900;
    color: #1f1e2b;
    background: @hl;
    border-radius: 0px;
}
#pulseaudio {
    color: @text;
    padding: 1px 5px;
    margin: 0px 5px;
}
#bluetooth {
    color: @text;
    font-size: 19px;
    margin: 0px 5px;
    padding: 1px 5px;
}
#clock {
    font-size: 18px;
    color: @text;
    padding: 1px 5px;
}
#cpu {
    color: @text;
    padding: 1px 5px;
    margin: 0px 5px;
}
#custom-notifications {
    padding: 1px 5px;
    margin: 0px 5px;
    color: @text;
}
#memory {
    color: @text;
    padding: 1px 5px;
    margin: 0px 5px;
}
#custom-network.vpn {
    color: #a6e3a1; /* z.B. grün wenn VPN aktiv */
}
#custom-network.connected {
    color: @text ;
}
